.dark #button-statement span {
    color: white;

}

.light #button-statement span {
    color: #322E3D;
}

.dark #button-statement {
    background: rgba(217, 217, 217, 0.04);
    border: 0.815px solid #D9D9D9;
    border-radius: 36.675px;
}

.light #button-statement {
    background-color: rgb(255, 255, 255);
    border: 0.815px solid #cfcfcf;
    border-radius: 36.675px;
}

.dark
.sentPetitionsText {
    color: #ffffff;
}

.light
.sentPetitionsText {
    color: #222027;
}