
/* begin, carousel styles */
.dark .category-text {
    color: white;
}

.light .category-text {
    color: black;

}

.dark .category-icon {
    color: white;
    background-color: #6F6687;
}

.light .category-icon {
    color:#322E3D;
    background-color: #f7f7f7;
}

.dark .carouselButton {
    background-color: transparent;
    font-size: 2.2em;
    border-style: solid;
    border-color: white;
    color: white;
}

.light .carouselButton {
    background-color: transparent;
    font-size: 2.2em;
    border-style: solid;
    border-color: #322E3D;
    color: #36343b;
}

.dark .section {
    background-color: rgb(87, 82, 103);
    color: white;
}

.light .section {
    background-color: rgb(250, 250, 250);
    color: black;
}


/* end, carousel styles */
