
/* search component */
.dark
.searchBox {
    background-color: rgb(50, 46, 61);
}

.light
.searchBox {
    background-color: white;
}

.dark
.searchButton:hover {
    color : white;
}

.light
.searchButton:hover {
    color: #27252c ;
}

.dark
.searchButton {
    color: white;
}

.light
.searchButton {
    color: #27252c;
}
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .dropdown-item {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .dropdown-item.active {
    background-color: rgba(228, 44, 68, 0.8);
  }